@import "./Mixin.scss";
@import "./Variables.scss";
@import "./Responsive.scss";

.they__button {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 8%;
  &--only {
    @include button;
  }
}